[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia android - Volley image request example
Type=Link
URL=https://android--examples.blogspot.com/2017/02/android-volley-image-request-example.html
Icon=text-html
