[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Android working with Card View and Recycler View
Type=Link
URL=https://www.androidhive.info/2016/05/android-working-with-card-view-and-recycler-view/
Icon=text-html
