[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Guardar una imagen en la Base de Datos (mysql) – Espacio Geek
Type=Link
URL=https://www.espaciogeek.com/php/guardar-una-imagen-en-la-base-de-datos-mysql/
Icon=text-html
